<div class="container">
    <h1>all eaters</h1>
    <button><a href="eaters/add-new">Add an eater</a></button>

    <h5>{{allEaters.length}}</h5>
    <div>
        {{#each allEaters}}

        <a href="########">
            <div>
                <h5>{{name}}</h5>
            </div>
        </a>

        {{/each}}
    </div>
</div>