<div class="container">

    <h1>Let's go eat!</h1>
    <hr>

    <form action="/eaters" method="POST">

        <div>
            <div>
                <input type="text" class="form-control" id="name" name="name" placeholder="Name" value="{{name}}">
            </div>
            <div>
                <input type="email" class="form-control" id="email" name="email" placeholder="Email" value="{{email}}">
            </div>
        </div>

        <button type="submit" class="btn btn-primary">ugh yummy!</button>
    </form>
        <button class="btn btn-dark"><a href="/eaters">Cancelar</a></button>

</div>