<div class="container">
    <h1>all restaurants</h1>
    <button><a href="restaurants/add-new">Add a restaurant</a></button>

    <div>
        {{#each allRestaurants}}

        <a href="########">
            <div>
                <h5>{{name}}</h5>
                <h5>{{adress}}</h5>
                <h5>Take a look on Google!</h5>
            </div>
        </a>

        {{/each}}
    </div>
</div>